.work-section {
    padding: 60px 20px;
    background-color: var(--bg-color);
}

.section-title {
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 40px;
    color: white;
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.work-item {
    background-color: var(--second-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
}

.work-item:hover {
    transform: scale(1.05);
}

.work-image {
    width: 100%;
    height: auto;
    filter: blur(5px);
    transition: filter 0.5s ease, opacity 0.5s ease;
    opacity: 0.7;
}

.work-item:hover .work-image {
    filter: blur(0);
    opacity: 1;
}

.work-title {
    font-size: 1.5em;
    margin: 15px 0;
    text-align: center;
    color: var(--main-color);
}

.work-description {
    font-size: 1em;
    padding: 0 15px 15px;
    text-align: center;
    color: white;
}